.main__wrapper {
  width: 80%;
  height: 100vh;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  @media screen and (max-width: 1200px) {
    width: 90%;
    height: calc(100vh - 50px);
  }
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    h2 {
      color: #ededed;
      font-family: "DancingScript";
      font-weight: 700;
      font-size: 5em;
      font-style: normal;
      text-align: center;
      @media screen and (max-width: 1200px) {
        font-size: 3em;
      }
    }
  }
  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 5%;
    @media screen and (max-width: 1200px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column-reverse;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: calc(100vh - 70px);
    }
    .main__content_left {
      width: 50%;
      @media screen and (max-width: 1200px) {
        width: 100%;
        padding-top: 20px;
      }
      p {
        color: #979797;
        font-family: "TextFont";
        font-size: 25px;
        margin-bottom: 40px;
        @media screen and (max-width: 1200px) {
          font-size: 15px;
          margin-bottom: 10px;
        }
      }
      .main__content_left-line {
        width: 100%;
        border: 2px solid #737373;
        border-radius: 12px;
        margin-bottom: 40px;
        @media screen and (max-width: 1200px) {
          border: 1px solid #737373;
          margin-bottom: 30px;
        }
      }
      .main__content_left-button {
        width: 250px;
        height: 60px;
        border: none;
        border-radius: 22px;
        background-color: #ededed;
        font-family: "TextFont";
        font-size: 25px;
        color: black;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        @media screen and (max-width: 1200px) {
          width: 225px;
          height: 45px;
          border-radius: 12px;
          font-size: 20px;
        }
      }
    }
    .main__content_right {
      width: 50%;
      height: 100%;
      background-image: url("../../assets/png/racoon-main-min-min.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      @media screen and (max-width: 1200px) {
        width: 100%;
      }
    }
  }
}
