.loading_wrapper {
  width: 100%;
  height: calc(100vh - 140px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 10px;
  h2 {
    color: aliceblue;
    margin-top: 10px;
  }
  video {
    max-width: 320px;
    height: calc(100vh - 170px);
    margin: 0 auto;
  }
  .loading_button {
    width: 150px;
    height: 40px;
    border-radius: 22px;
    background-color: #ededed;
    font-family: "TextFont";
    font-size: 16px;
    border: none;
    color: black;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
